<h1>Contacts</h1>

<% @contacts.each do |contact| %>
  <div>
    <i><%= contact.id %></i>
    <br />
    <b><%= contact.name %></b><br />
    <%= contact.email %><br />
    <%= contact.message %>
  </div>
<% end %>

<p><%= link_to "New Contact", new_contact_path %></p>
